.search {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	align-items: center;

	&[data-desktop=false] {
		display: flex;
		flex-direction: column;
		align-items: start;

		.categories {
			width: 100%;
		}
	}

	&__inp {}

	&__title {}


	&__select {}

}