.wrap {
	position: relative;
	background: #fff;
	padding: var(--padding-m, 16px);
	display: grid;
	gap: var(--indent-12, 12px);
	border-radius: var(--rounding-big, 24px);
	grid-template-columns: 110px 1fr;
	grid-template-areas:
		"logo info"
		"logo tags"
		"foot foot"
	;

	&[data-preview=false] {
		display: flex;
		flex-direction: column;
	}

	[name=tick] {
		color: #6EB55B;
	}

	[name=info] {
		position: absolute;
		right: 16px;
		top: 16px;
		font-size: 28px;
		color: #8692a1;
	}
}


.logo {
	grid-area: logo;

	img {
		width: 100%;
		aspect-ratio: 1/1;
		object-fit: contain;
	}
}

.info {
	grid-area: info;
	display: flex;
	flex-direction: column;
	gap: var(--indent-8, 8px);
	justify-content: space-between;
	padding-bottom: 5px;
	margin-right: 40px;

	p {
		font-weight: 500;
	}
}

.tags {
	grid-area: tags;
	display: flex;
	flex-wrap: wrap;
	gap: var(--indent-8, 8px);
}





.foot {
	grid-area: foot;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: var(--indent-8, 8px);
}


.wrap[data-desktop=false] {

	grid-template-columns: 44px 1fr;
	grid-template-areas:
		"logo info"
		"tags tags"
		"foot foot"
	;

	.tags {
		gap: 3px;
	}


	.text {
		overflow: hidden;
		color: var(--Text_and_Icon-Default-Default, #222);
		text-overflow: ellipsis;
		font-family: var(--Body-family, Inter);
		font-size: var(--Body-size2, 16px);
		font-style: normal;
		font-weight: var(--Body-weight_medium, 400);
		line-height: 120%;
		letter-spacing: -0.32px;
	}

	.info {
		margin-right: 0;
	}

	.use {
		border: var(--stroke-border, 1px) solid var(--button-main-secondary-stroke-default, #DBE3EB);
	}
}