@use "@/styles/global/vars.scss" as *;
@use "@/styles/global/mixins.scss" as *;
@use "@/styles/global/funcs.scss" as *;


body,
html {
	background: var(--background-default-default, #fff);

}



.forgot {
	color: var(--button-main-subtle-text-default, #0079FF);
	font-family: var(--Headline-family, Inter);
	font-size: var(--Headline-size3, 16px);
	font-style: normal;
	font-weight: var(--Headline-weight_medium, 400);
	line-height: 100%;
	letter-spacing: -0.32px;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-underline-position: from-font;
	cursor: pointer;
}