.wrap {
	border-radius: var(--rounding-big, 24px);
	background: var(--sds-color-background-brand-default, #01182D);
	padding: var(--indent-24, 24px) var(--padding-l, 24px);
	display: flex;
	flex-direction: column;
	gap: var(--indent-24, 24px);
}


.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;



	a {
		color: var(--button-main-subtle-text-default, #0079FF);
		font-family: var(--Headline-family, Inter);
		font-size: var(--Headline-size3, 16px);
		font-style: normal;
		font-weight: var(--Headline-weight_medium, 500);
		line-height: 100%;
		letter-spacing: -0.32px;
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: auto;
		text-decoration-thickness: 7%;
		text-underline-offset: 15%;
		text-underline-position: from-font;
		display: inline-flex;
		align-items: center;
		gap: 0.3em;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--indent-12, 12px);
}

.item {
	border-radius: var(--rounding-default, 20px);
	background: var(--sds-color-background-brand-secondary, #1A2542);
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-areas:
		"logo title"
		"logo desc"
	;
	grid-column: span 2;
	gap: var(--base-indent-4, 4px) var(--indent-16, 16px);
	padding: var(--padding-m, 16px);
	user-select: none;
	cursor: pointer;
	transition: background-color 0.3s;


	&:hover {
		background: var(--Background-Dark-Secondary_Hover, #2B417B);
	}

	&[data-desc=false] {
		grid-column: span 1;
		display: flex;
		align-items: center;

		.title {
			align-self: center
		}
	}


}


.logo {
	grid-area: logo;
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: contain;
	object-position: center;
	max-width: 50px;
}

.title {
	grid-area: title;
	align-self: end;
	color: var(--sds-color-text-brand-default, #fff);
}

.desc {
	grid-area: desc;
	align-self: start;
	color: var(--sds-color-text-brand-secondary, #AEBCD3);
}



.mobile {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: var(--padding-l, 24px) 0 var(--padding-xxl, 40px) 0;
	gap: var(--indent-12, 12px);

	&__head {
		display: flex;
		align-items: end;
		justify-content: space-between;
	}

	&__companies {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 0 10px;
	}

	&__company {
		display: flex;
		align-items: center;
		gap: var(--indent-12, 12px);
		padding: var(--padding-sm, 12px);
		padding-right: 24px;
		user-select: none;
		cursor: pointer;
		transition: background-color 0.3s;
		border-radius: var(--rounding-default, 20px);
		background: var(--sds-color-background-brand-secondary, #1A2542);

		&:hover {
			background: var(--Background-Dark-Secondary_Hover, #2B417B);
		}

		.title {
			align-self: center;
		}



	}
}